NODE_ENV=development

REPO_STORAGE_ROOT=./data/repos

DATABASE_URL=postgres://postgres:postgres@localhost:5432/hilda
REDIS_URL=redis://localhost:6379

API_PORT=4000
WEB_PORT=3000
WORKER_PORT=4001

SEAMLESS_AUTH_API_URL=http://localhost:8080
SEAMLESS_AUTH_APP_ORIGIN=http://localhost:3000
SEAMLESS_AUTH_API_SERVICE_TOKEN=replace-me